:root {
    --vLightBlue: #009FFF;
    --vWhite: #ffffff;
    --vDarkBlue: #0e00ad;
    --vMedBlue: #0064bb;
    --vGrey: rgb(93, 93, 93);
}

#background {
  background-image: url("./bg3.jpg"); /* The image used */
  background-color: var(--vWhite); /* Used if the image is unavailable */
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

body{
    font-family: "Source Sans Pro", sans-serif;
    /* background-color: rgb(24,163,253); */
    height: 130vh;
    margin: 0px;
}


header{
    background-color: var(--vWhite);
    width: 100vw;
    z-index: 9001;
}

.headersticky {
    display: inline;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 7vh;
}

.headersticky h2 {
    float: left;
    text-align: center;
    margin-left: 5vw;
}

.navstyle li {
    color: var(--vLightBlue);
    display: inline-flex;
    padding-inline-end: 40px;
    flex-basis: content;
    justify-content: space-evenly;
    text-align: center;
    padding: 8px;

}

.navstyle a:link {
    color: var(--vLightBlue);
    background-color: var(--vWhite);
    transition: .2s;
    text-decoration: none;
}
.navstyle a:visited {
    color: var(--vLightBlue);
}
.navstyle a:hover {
    color: var(--vWhite);
    background-color: var(--vDarkBlue);
}
.navbox {
    display: flex;
    flex-basis:auto;
    float: right;
    width: 460px;
}
.mainContainer{
    position: relative;
    min-height: 130vh;
}
.aboutstyle{
    display: flex;
    flex-flow: column wrap;
    height: 40vh;
    width: 30vw;
    position: absolute;
    top: 35vh;
    right: 5vh;
}
.aboutstyle h2 {
    justify-content: center;
    display: inline-block;
    margin:0px;
}
.gridContainer {
    display: flex;
    width: 55vw;
    height: 400px;
    position: absolute;
    bottom: 100px;
    left: 50px;

}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

}

.footerStyle{
    display: inline-flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footernav ul {
    display: block;
    height: 7vh;
    width: 80%;
    right:0;
}
.footernav li {
    display: inline-flex;
    padding-inline-end: 40px;
    flex-basis: content;
    justify-content: space-evenly;
    text-align: center;
    padding: 8px;
    padding-top:0;
    padding-bottom: 0;
    right:0;
}
.projectButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 2;
    overflow: hidden;
    object-fit: cover;
    max-height: 20vh;
    max-width: 25vw;
    border: solid var(--vDarkBlue) 4px;
    background-color: var(--vWhite);
}

.projectButton caption {
    position: relative;
    bottom: -10px;
}
.projectButtonImg {
    object-fit: inherit;
    overflow: inherit;
    opacity: 0.9;
    border: solid var(vGrey) 4px;
}

.projectButtonImg:hover {
    border: solid var(--vMedBlue) 4px;
    opacity: 1.0;
}